<article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1"><%= article.title %></h2>
    <p class="blog-post-meta"><%= date_post(article.created_at) %> by <a href="#">Chris</a></p>
    <p><%= truncate(article.body, length: 100)%></p>
    <%= link_to 'Continue reading...', article, class: 'btn btn-link' %>
    <%= link_to 'Edit Article', edit_article_path(article), class: "btn btn-secondary" %>
    <%= link_to "Destroy Article", article_path(article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "This will delete the article. Confirm?"
                  }, class: "btn btn-danger" %>
</article>