
<%= render 'longer_featured' %>

<%= render 'medium_featured' %>

<div class="row g-5">
    <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic">Creating a new article.</h3>
    <%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %>
    <p class="pb-4 mb-4 fst-italic border-bottom"></p>
      <%= render @articles %>
      <%= render 'pagination' %>
  </div>

  <%= render 'right_side' %>

</div>